<div class="container mt-5 pt-5 text-dark">
  <h1 class="mt-3">Welcome {{ userComplete?.firstName | titlecase }}!</h1>

  <div *ngIf="user && user.roles[0].roleType == 'USER'">
    <div>
      <p class="fs-2 mt-5 border-start border-primary ps-4">Your Informations</p>
      <p class="fs-5 ps-4">First Name: {{userComplete?.firstName}}</p>
      <p class="fs-5 ps-4">Last Name: {{userComplete?.lastName}}</p>
      <p class="fs-5 ps-4">Username: {{userComplete?.username}}</p>
      <p class="fs-5 ps-4">Email: {{userComplete?.email}}</p>
    </div>
    <p class="mt-5 border-start border-primary ps-4 fs-2">Your Travels</p>
    <p *ngIf="userComplete?.travelsPurchased?.length == 0" class="fs-4 mb-0 ps-4">No Journeys Planned Yet</p>
    <p *ngIf="userComplete?.travelsPurchased?.length == 0" class="fs-4 mb-0 ps-4">Explore Our Destinations and <a routerLink="/travels">Get Started!</a></p>
    <app-travel
      *ngFor="let travel of userComplete?.travelsPurchased"
      [travel]="travel"
    >
    </app-travel>
  </div>

  <div *ngIf="user && user.roles[0].roleType == 'ADMIN'">
    <h3 class="mt-5 mb-3">Categories:</h3>
    <div *ngFor="let category of categories" class="d-flex align-items-end gap-3 mb-3">
      <div>
        <h4>{{ category.name }}</h4>
        <p class="mb-0">{{ category.description }}</p>
      </div>
      <button
        (click)="openVerticallyCentered(content)"
        class="btn btn-danger"
      >
        <i class="bi bi-trash"></i>
      </button>

      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title text-dark">Delete Category</h4>
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
          ></button>
        </div>
        <div class="modal-body text-dark">
          <p>
            <strong
              >Are you sure you want to delete category:
              <span class="text-primary">{{category.name}}</span> ?</strong
            >
          </p>
          <p>
            All information associated to this category will be permanently
            deleted.
            <span class="text-danger">This operation can not be undone.</span>
          </p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="modal.dismiss('cancel click')"
          >
            Cancel
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteCategory(category.id); modal.close('Ok click')"
          >
            DELETE
          </button>
        </div>
      </ng-template>
    </div>

    <div ngbDropdown class="d-inline-block mt-3">
      <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
        <i class="bi bi-cloud-plus text-dark me-1"></i>
            Add New Category
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <form class="p-4" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
          <div class="form-floating mb-3">
            <input id="categoryName" formControlName="name" type="text" placeholder="Enter name" class="form-control bg-light border-primary">
            <label for="categoryName" class="text-dark">Name</label>
          </div>
          <div class="form-floating mb-3">
            <textarea id="categoryDescription" formControlName="description" placeholder="Enter description" class="form-control bg-light border-primary"></textarea>
            <label for="categoryDescription" class="text-dark">Description</label>
          </div>
          <button type="submit" [disabled]="categoryForm.invalid" class="btn btn-secondary text-dark fw-bold">
            Submit
          </button>
        </form>
      </div>
    </div>

  </div>

</div>
