<div class="container">
  <h1>Ciao {{ userComplete?.firstName }}</h1>

  <div *ngIf="user && user.roles[0].roleType == 'USER'">
    <h3>I tuoi viaggi:</h3>
    <app-travel
      *ngFor="let travel of userComplete?.travelsPurchased"
      [travel]="travel"
    >
    </app-travel>
  </div>

  <div *ngIf="user && user.roles[0].roleType == 'ADMIN'">
    <h3>categorie:</h3>
    <div *ngFor="let category of categories">
      <h4>{{ category.name }}</h4>
      <p>{{ category.description }}</p>
      <button
        (click)="openVerticallyCentered(content)"
        class="btn btn-danger w-25"
      >
        <i class="bi bi-trash"></i>
      </button>

      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title text-dark">Delete Category</h4>
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
          ></button>
        </div>
        <div class="modal-body text-dark">
          <p>
            <strong
              >Are you sure you want to delete category:
              <span class="text-primary">{{category.name}}</span> ?</strong
            >
          </p>
          <p>
            All information associated to this category will be permanently
            deleted.
            <span class="text-danger">This operation can not be undone.</span>
          </p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="modal.dismiss('cancel click')"
          >
            Cancel
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteCategory(category.id); modal.close('Ok click')"
          >
            DELETE
          </button>
        </div>
      </ng-template>
    </div>

    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
        crea categoria
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
          <div>
            <label>Name:</label>
            <input formControlName="name" placeholder="Enter name" />
          </div>
          <div>
            <label>Description:</label>
            <textarea
              formControlName="description"
              placeholder="Enter description"
            ></textarea>
          </div>
          <button type="submit" [disabled]="categoryForm.invalid">
            Crea Categoria
          </button>
        </form>
      </div>
    </div>

  </div>

</div>
