<div class="card-home rounded m-4 p-4 d-flex justify-content-between flex-column flex-md-row">
  <div class="d-flex align-items-center">
    <div class="text-center pe-4 border-end border-primary me-4">
      <p class="mb-0 p-1 fw-bold text-dark">{{ travel.startDate | date }}</p>
      <p class="mb-0 p-1 fw-bold text-dark">{{ travel.endDate | date }}</p>
    </div>
    <div class="d-flex flex-column">
      <h2 class="h4 font-weight-bolder text-dark">{{ travel.name | titlecase }}</h2>
    <p class="mb-0 text-dark">{{travel.place}}</p>
    </div>
  </div>
  <div class="d-flex align-items-center flex-column flex-lg-row mt-4 mt-lg-0">
    <div class="color-h mr-lg-4 mb-2 mb-lg-0">
      <p class="font-weight-bolder h5 mb-0 text-dark">{{ travel.price | currency }}</p>
    </div>
    <div class="d-flex gap-2 ms-3">
      <button *ngIf="user"
        (click)=" isTravelInWishlist(travel.id) ? removeTravelFromWishlist(travel.id, userId) : addTravelToWishlist(travel.id, userId)"
        class="btn btn-warning rounded-circle">
        <i [ngClass]="{'text-dark': true, 'bi': true, 'bi-bookmark-heart': !isTravelInWishlist(travel.id),
            'bi-bookmark-heart-fill': isTravelInWishlist(travel.id)}"></i>
      </button>
      <a [routerLink]="['/travels/details', travel.id]" class="btn btn-secondary rounded-circle">
        <i class="bi bi-info-circle text-dark"></i>
      </a>
      <a *ngIf="user && user.roles[0].roleType == 'ADMIN'"
        [routerLink]="['/edit', travel.id]" class="btn btn-light rounded-circle">
        <i class="bi bi-pencil-square"></i>
      </a>
      <button
        *ngIf="user && user.roles[0].roleType == 'ADMIN'"
        (click)="openVerticallyCentered(content)"
        class="btn btn-danger rounded-circle">
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p>
      <strong
        >Are you sure you want to delete
        <span class="text-primary">"John Doe"</span> profile?</strong
      >
    </p>
    <p>
      All information associated to this user profile will be permanently
      deleted.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.dismiss('cancel click')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="deleteTravel(travel.id); modal.close('Ok click')"
    >
      Ok
    </button>
  </div>
</ng-template>
