nav {
  background-color: #54AC9C;
}

.candal{
  font-family: "Candal", sans-serif;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Candal", sans-serif;
  color: #15434a;
  &:hover{
    color: #FFDE59;
  }
}

.active{
  color: #FFDE59;
}

#dropdownBasic1, .nav-link{
  transition: 0.4s;
  transform: scale(1);
  &:hover{
    transition: 0.4s;
    transform: scale(1.1);
  }
}

.dropdown-menu{
  background-color: #f7fff7;
}

.dropdown-item{
  &:hover{
    background-color: #fbf6e2;
  }
}

img{
  max-width: 220px;
  padding-left: 15px;
}

//removed arrow form dropdown
.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em ;
    border-right: 0.3em transparent;
    border-bottom: 0;
    border-left: 0.3em transparent;
}

.modal-border{
  border-radius: 5px
}

.logout{
  font-size: 0.8rem;
}
