<nav id="navbar" class="fixed-top d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start py-2"
    [ngClass]="{'trasparent': isThisPage('')}">
  <a routerLink="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none border-end border-secondary">
    <img src="../../../assets/img/logo/logo.png" alt="">
  </a>

  <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ps-3">
    <li><a routerLink="/" class="nav-link px-2 fw-bold fs-5 pe-3" [ngClass]="{'active': isThisPage('')}">Home</a></li>
    <li><a routerLink="/travels" class="nav-link px-2 fw-bold fs-5 pe-3" [ngClass]="{'active': isThisPage('travels')}">Travels</a></li>
  </ul>

  <div class="text-end pe-4">

    <div *ngIf="user" #dropdown="ngbDropdown"  ngbDropdown class="d-inline-block">
      <a class="nav-link d-block text-decoration-none" id="dropdownBasic1" ngbDropdownToggle>
        <i class="bi bi-person-circle fs-2" [class.active]="dropdown.isOpen()"></i>
      </a>
      <ul class="text-small shadow" ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <li ngbDropdownItem  *ngIf="user && user.roles[0].roleType == 'ADMIN'">
          <a
          class="dropdown-item text-dark p-1" routerLink="/create">
          <i class="bi bi-cloud-plus text-dark me-1"></i>
          Add New Travel</a>
        </li>
        <li ngbDropdownItem *ngIf="user && user.roles[0].roleType == 'USER'">
          <a
          class="dropdown-item text-dark p-1" routerLink="/profile/wishlist">
          <i class="bi bi-bookmark-heart-fill text-warning me-1"></i>
          Wishlist</a>
        </li>
        <li ngbDropdownItem>
          <a class="dropdown-item text-dark p-1" routerLink="/profile">
            <i class="bi bi-person-fill text-dark me-1"></i>
            Profile</a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li ngbDropdownItem>
          <button *ngIf="user" (click)="logout()"
          class="btn btn-dark me-2 text-secondary candal logout">
          <i class="bi bi-box-arrow-left text-secondary"></i>
          Logout</button>
        </li>
      </ul>
    </div>

    <button *ngIf="!user" (click)="openVerticallyCentered(loginmodal) "type="button" class="btn btn-dark me-2 text-secondary candal">Login</button>
    <button *ngIf="!user" (click)="openVerticallyCentered(registermodal) "type="button" class="btn btn-secondary text-dark candal">Sign-up</button>
  </div>

  <ng-template #loginmodal let-modal>
    <div class="bg-light modal-border">
      <div class="modal-header mx-2">
        <h4 class="modal-title text-dark">Welcome Back!</h4>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        ></button>
      </div>
      <div class="modal-body">
        <form class="p-4">
          <div class="form-floating mb-3">
            <input [(ngModel)]="login.username"
            type="text" class="form-control bg-light border-primary" name="username">
            <label for="floatingInput" class=" text-dark">Username</label>
          </div>
          <div class="form-floating mb-3">
            <input [(ngModel)]="login.password"
            type="password" class="form-control bg-light border-primary" name="password">
            <label for="floatingPassword" class=" text-dark">Password</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-primary candal"
          (click)="modal.dismiss('cancel click')"
        >
          Cancel
        </button>
        <button (click)="signIn(); modal.dismiss('Cross click')" type="button" class="btn btn-dark text-secondary candal">Sign-In</button>
      </div>
    </div>
  </ng-template>

  <ng-template #registermodal let-modal>
    <div class="bg-light modal-border">
      <div class="modal-header mx-2">
        <h4 class="modal-title text-dark">Welcome on Board!</h4>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        ></button>
      </div>
      <div class="modal-body">
        <form class="p-4">
          <div class="form-floating mb-3">
            <input [(ngModel)]="registerData.firstName"
            type="text" class="form-control bg-light border-primary" name="firstname">
            <label for="floatingInput" class=" text-dark">First Name</label>
          </div>
          <div class="form-floating mb-3">
            <input [(ngModel)]="registerData.lastName"
            type="text" class="form-control bg-light border-primary" name="lastName">
            <label for="floatingInput" class=" text-dark">Last Name</label>
          </div>
          <div class="form-floating mb-3">
            <input [(ngModel)]="registerData.username"
            type="text" class="form-control bg-light border-primary" name="username">
            <label for="floatingInput" class=" text-dark">Username</label>
          </div>
          <div class="form-floating mb-3">
            <input [(ngModel)]="registerData.email"
            type="text" class="form-control bg-light border-primary" name="email">
            <label for="floatingInput" class=" text-dark">email</label>
          </div>
          <div class="form-floating mb-3">
            <input [(ngModel)]="registerData.password"
            type="password" class="form-control bg-light border-primary" name="password">
            <label for="floatingPassword" class=" text-dark">Password</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-primary candal"
          (click)="modal.dismiss('cancel click')"
        >
          Cancel
        </button>
        <button (click)="signUp(); modal.dismiss('Cross click')" type="button" class="btn btn-dark text-secondary candal">Sign-Up</button>
      </div>
    </div>
  </ng-template>
</nav>
