<div class="m-3 d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
  <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
  </a>

  <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <li><a routerLink="/" class="nav-link px-2 text-secondary">Home</a></li>
    <li><a routerLink="/travels" class="nav-link px-2">Travels</a></li>
    <li><a routerLink="/" class="nav-link px-2">Pricing</a></li>
    <li><a routerLink="/" class="nav-link px-2">FAQs</a></li>
    <li><a routerLink="/" class="nav-link px-2">About</a></li>
  </ul>

  <div class="text-end">

    <div *ngIf="user" ngbDropdown class="d-inline-block">
      <div class="d-block link-dark text-decoration-none" id="dropdownBasic1" ngbDropdownToggle>
        <i class="bi bi-person-lines-fill"></i>
      </div>
      <ul class="text-small shadow" ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <li ngbDropdownItem>
          <a *ngIf="user && user.roles[0].roleType == 'ADMIN'"
          class="dropdown-item" routerLink="/create">Create</a>
        </li>
        <li ngbDropdownItem>
          <a *ngIf="user && user.roles[0].roleType == 'USER'"
          class="dropdown-item" routerLink="/profile/wishlist">wishlist</a>
        </li>
        <li ngbDropdownItem>
          <a class="dropdown-item" routerLink="/profile">Profile</a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li ngbDropdownItem>
          <button *ngIf="user" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>

    <a *ngIf="!user" routerLink="/auth/register" type="button" class="btn btn-warning">Sign-up</a>
  </div>
</div>
