<div id="bg-img">
  <div class="bg-custom"></div>
</div>
<div class="div-on-top d-flex flex-column align-items-center p-5">
  <p class="text-light">
    <span class="text-secondary">To Get There</span> , Start Here
  </p>
  <p class="text-light">
    Let's discover the World , <span class="text-secondary">TOGETHER</span>
  </p>
</div>

<div class="card-container text-center" *ngFor="let travel of travels | slice:0:3">
  <a [routerLink]="['/travels/details', travel.id]">
    <div class="card">
      <div class="front-content">
        <div class="overlay"></div>
        <p>{{ travel.name }}</p>
        <img [src]="travel.photos[0]" alt="">
      </div>
      <div class="content">
        <p class="heading text-secondary">{{ travel.name }}</p>
        <p>
          {{ travel.description }}
        </p>
      </div>
    </div>
  </a>
</div>

