<div class="container">

  <div ngbDropdown class="d-inline-block">
    <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
      Category
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem
      *ngFor="let category of categories"
      (click)="getTravelsBy('category', category.id)">
      {{category.name}}
      </button>
    </div>
  </div>

  <div ngbDropdown class="d-inline-block">
    <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
      Continent
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem
      *ngFor="let continent of continents"
      (click)="getTravelsBy('continent', continent.id)">
      {{continent.name}}
      </button>
    </div>
  </div>

  <div ngbDropdown class="d-inline-block">
    <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
      Month
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem
      *ngFor="let month of months"
      (click)="getTravelsBy('month', month.month)">
      {{month.name}}
      </button>
    </div>
  </div>

  <div ngbDropdown class="d-inline-block">
    <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
      Passport
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem
      (click)="getTravelsByBoolean('passport', true)">
      Required
      </button>
      <button ngbDropdownItem
      (click)="getTravelsByBoolean('passport', false)">
      Not Required
      </button>
    </div>
  </div>

  <div ngbDropdown class="d-inline-block">
    <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
      Available
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem
      (click)="getTravelsByBoolean('soldout', false)">
      Still available
      </button>
      <button ngbDropdownItem
      (click)="getTravelsByBoolean('soldout', true)">
      Sold out
      </button>
    </div>
  </div>

  <button (click)="getAllTravels()"
    class="btn">
    All Travels
  </button>


  <app-travel *ngFor="let travel of travels" [travel]="travel">
  </app-travel>


</div>

