<div class="container">

  <div ngbDropdown class="d-inline-block">
    <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
      Category
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem
      *ngFor="let category of categories"
      (click)="getTravelsBy('category', category.id)">
      {{category.name}}
      </button>
    </div>
  </div>

  <div ngbDropdown class="d-inline-block">
    <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
      Continent
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem
      *ngFor="let continent of continents"
      (click)="getTravelsBy('continent', continent.id)">
      {{continent.name}}
      </button>
    </div>
  </div>

  <div ngbDropdown class="d-inline-block">
    <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
      Month
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem
      *ngFor="let month of months"
      (click)="getTravelsBy('month', month.month)">
      {{month.name}}
      </button>
    </div>
  </div>

  <div ngbDropdown class="d-inline-block">
    <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
      Passport
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem
      (click)="getTravelsByBoolean('passport', true)">
      Required
      </button>
      <button ngbDropdownItem
      (click)="getTravelsByBoolean('passport', false)">
      Not Required
      </button>
    </div>
  </div>

  <div ngbDropdown class="d-inline-block">
    <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
      Available
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem
      (click)="getTravelsByBoolean('soldout', false)">
      Still available
      </button>
      <button ngbDropdownItem
      (click)="getTravelsByBoolean('soldout', true)">
      Sold out
      </button>
    </div>
  </div>

  <button (click)="getAllTravels()"
    class="btn">
    All Travels
  </button>


  <div *ngFor="let travel of travels" class="card">
    <div class="card-body">
      <h5 class="card-title">{{travel?.name}}</h5>
      <p class="card-text">{{travel?.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{travel?.place}}</li>
      <li class="list-group-item">{{travel?.price}}</li>
      <li class="list-group-item">{{travel?.category?.name}}</li>
    </ul>
    <button (click)="openVerticallyCentered(content)"
    class="btn btn-danger w-25">
      <i class="bi bi-trash"></i>
    </button>
    <button (click)="addTravelToWishlist(travel.id, userId)"
    class="btn btn-light w-25">
    <i [ngClass]="{'bi':true, 'bi-bookmark-heart' : !isTravelInWishlist(travel.id), 'bi-bookmark-heart-fill' : isTravelInWishlist(travel.id)}"></i>
    </button>
    <a [routerLink]="['/edit',travel.id]" class="btn btn-secondary w-25">
      <i class="bi bi-pencil-square"></i>
    </a>
    <a [routerLink]="['/details',travel.id]" class="btn btn-info w-25">
      <i class="bi bi-info-circle-fill"></i>
    </a>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <p>
          <strong>Are you sure you want to delete <span class="text-primary">"John Doe"</span> profile?</strong>
        </p>
        <p>
          All information associated to this user profile will be permanently deleted.
          <span class="text-danger">This operation can not be undone.</span>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteTravel(travel.id); modal.close('Ok click')">Ok</button>
      </div>
    </ng-template>
  </div>
</div>

