<div class="container">

  <div ngbDropdown class="d-inline-block">
    <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
      Category
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem
      *ngFor="let category of categories"
      (click)="getTravelsBy('category', category.id)">
      {{category.name}}
      </button>
    </div>
  </div>

  <div ngbDropdown class="d-inline-block">
    <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
      Continent
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem
      *ngFor="let continent of continents"
      (click)="getTravelsBy('continent', continent.id)">
      {{continent.name}}
      </button>
    </div>
  </div>

  <div ngbDropdown class="d-inline-block">
    <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
      Month
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem
      *ngFor="let month of months"
      (click)="getTravelsBy('month', month.month)">
      {{month.name}}
      </button>
    </div>
  </div>

  <div ngbDropdown class="d-inline-block">
    <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
      Passport
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem
      (click)="getTravelsByBoolean('passport', true)">
      Required
      </button>
      <button ngbDropdownItem
      (click)="getTravelsByBoolean('passport', false)">
      Not Required
      </button>
    </div>
  </div>

  <div ngbDropdown class="d-inline-block">
    <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
      Available
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem
      (click)="getTravelsByBoolean('soldout', false)">
      Still available
      </button>
      <button ngbDropdownItem
      (click)="getTravelsByBoolean('soldout', true)">
      Sold out
      </button>
    </div>
  </div>

  <button (click)="getAllTravels()"
    class="btn">
    All Travels
  </button>

  <a routerLink="/create"
  class="btn">
    add new travel
  </a>


  <div *ngFor="let travel of travels" class="card">
    <div class="card-body">
      <h5 class="card-title">{{travel?.name}}</h5>
      <p class="card-text">{{travel?.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{travel?.place}}</li>
      <li class="list-group-item">{{travel?.price}}</li>
      <li class="list-group-item">{{travel?.category?.name}}</li>
    </ul>
    <button (click)="openVerticallyCentered(content)"
    class="btn btn-danger w-25">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
      </svg>
    </button>
    <a [routerLink]="['/edit',travel.id]" class="btn btn-secondary w-25">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
      </svg>
    </a>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <p>
          <strong>Are you sure you want to delete <span class="text-primary">"John Doe"</span> profile?</strong>
        </p>
        <p>
          All information associated to this user profile will be permanently deleted.
          <span class="text-danger">This operation can not be undone.</span>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteTravel(travel.id); modal.close('Ok click')">Ok</button>
      </div>
    </ng-template>
  </div>
</div>

